{% extends "base.html" %}

{% block nav_pmethod %}active{% endblock %}

{% block contents %} 

<p class="h2"> Edit - Payment method</p>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'trans:update_pmethod' pm.id %}" method="post">
  {% csrf_token %}
  name:<input type="text" name="name" id="name" value="{{pm.name}}" />
  <select name="pmg" id="pmg" value="{{pm.group.id}}">
    {% for pmg in pmgroup_list %}
    {% if pmg.id == pm.group.id %}
    <option value="{{pmg.id}}" selected>{{pmg.name}}</opetion>
    {% else %}
    <option value="{{pmg.id}}">{{pmg.name}}</opetion>
    {% endif %}
    {% endfor %}
  </select>

  <input type="submit" value="Update" />
</form>


{% endblock contents %}



