{% extends "base.html" %}

{% block nav_pmethod %}active{% endblock %}

{% block contents %} 

<p class="h2"> Payment method group</p>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<form action="{% url 'trans:add_pmgroup' %}" method="post">
  {% csrf_token %}
  name:<input type="text" name="name" id="name"  />
  <input type="submit" value="Add" />
</form>


  <table border="1" class="table table-striped">
    <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th></th>
    </tr>
    </thead>
    {% for pmg in pmgroup_list %}
    <tbody>
    <tr>
      <td>
	<!--<input type="checkbox" name="cb" value="{{ pmg.id }}" />-->{{pmg.order}}</td>
      <td>{{ pmg.name }}</td>
      <td> <a href="{% url 'trans:edit_pmgroup' pmg.id %}">Edit</a>
	| <a href="{% url 'trans:delete_pmgroup' pmg.id %}">Delete</a>
	| <a href="{% url 'trans:up_pmgroup' pmg.id %}">Up</a>
      </td>
    </tr>
    </tbody>
    {% endfor %}
  </table>



<p class="h2"> Payment method</p>

<form action="{% url 'trans:add_pmethod' %}" method="post">
  {% csrf_token %}
  <input type="textbox" name="name" id="idname" value="" />

  <select name="pmg" id="pmg">
    {% for pmg in pmgroup_list %}    
    <option value="{{pmg.id}}">{{pmg.name}}</opetion>
    {% endfor %}
  </input>

  <input type="submit" value="Add" />
</form>


<table border="1" class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Group</th>
      <th></th>
    </tr>
  </thead>
  {% for pm in pmethod_list %}
  <tbody>
    <tr>
      <td>
	<!--<input type="checkbox" name="cb" value="{{ pmg.id }}" />-->{{pmg.order}}</td>
      <td>{{ pm.name }}</td>
      <td>{{ pm.group.name }}</td>
      <td> <a href="{% url 'trans:edit_pmethod' pm.id %}">Edit</a>
	| <a href="{% url 'trans:delete_pmethod' pm.id %}">Delete</a>
	| <a href="{% url 'trans:up_pmethod' pm.id %}">Up</a>
      </td>
    </tr>
  </tbody>
  {% endfor %}
</table>


{% endblock contents %}



