{% extends "base.html" %}
{% load humanize %}

{% block contents %}

JACCS record registeror - check

<form action="{% url 'trans:suica_check' %}" method="POST">
  {% csrf_token %}

  <table border="1" class="table table-striped" id="tablelist">
    <tr>
      <th></th>
      <th>Date</th>
      <th>Item</th>
      <th>Category</th>
      <th>Expense</th>
      <th>Payment method</th>
      <th>Memo</th>
      <th>(share type)</th>
    </tr>
    {% for trans in trans_list %}
    <tr>
      <td> <input type="checkbox" name="tids" value="{{ trans.id }}"  {% if trans.selected %}checked="checked"{% endif %}/></td>
      <td><input type="text" class="mb-2 mr-sm-2 mb-sm-0 datepicker" id="dates" name="dates" value="{{ trans.date|date:"Y/n/d" }}"></td>
      <td><input type="text" class=" mb-2 mr-sm-2 mb-sm-0" id="names" name="names" value="{{ trans.name }}"></input></td>
      <td>
	<select  class="cg custom-select mb-2 mr-sm-2 mb-sm-0" name="cg{{trans.id}}" id="cg0">
	  {% for cg in categorygroup_list %}    
	  <option value="{{cg.id}}">{{cg.name}}</opetion>
{% endfor %}
</select>
<select name="cs" id="c0">
  <option value="{{trans.category.id}}">{{trans.category.name}}</opetion>
</select>
</td>      
<td>{{ trans.expense| intcomma }}
  <input type="hidden" name="expenses" value="{{trans.expense}}"></input>
</td>
<td>{{ trans.pmethod.name }}
  <input type="hidden" name="pmethods" value="{{trans.pmethod.id}}"></input>
</td>

<td><input type="text" class=" mb-2 mr-sm-2 mb-sm-0" name="memos" value="{{ trans.memo }}"></input></td>
<td>
  <select name="share_types" value="{{trans.share_type}}">
    <option value="1">own</opetion>
    <option value="2">share</opetion>
  </select>
</td>

      <td>{{ trans.id }}</td>
      <td>{{ trans.user }}</td>
      <td>{{ trans.user_pay4 }}</td>
      <td>{{ trans.includebalance }}</td>
      <td>{{ trans.includemonthlysum }}</td>	
    </tr>
    {% endfor %}

  
  <input type="submit" value="register">
</form>


{{contents}}

{% endblock contents %}

{% block exscript %}
<script type="text/javascript" src="../static/js/trans_suica.js"></script>
<script type="text/javascript" src="../static/js/trans_common.js"></script>
{% endblock exscript %}

