{% extends "base.html" %}

{% block nav_list %}active{% endblock %}


{% block contents %} 

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<form action="{% url 'trans:list' %}" method="post" class="form-inline">
  {% csrf_token %}
  
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0 datepicker" id="datefrom" name="datefrom"  placeholder="From yyyy/mm/dd" value="{{datefrom}}">
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0 datepicker" id="dateto" name="dateto"  placeholder="to yyyy/mm/dd">

    <div id="category">
    Categories:
    {% for c in category_list %}
    <input type="checkbox" name="categorys" value="{{ c.id }}" {% if c.selected %}checked="checked"{% endif %}>{{c.name}}</input>
    {% endfor %}
    
    <button id="ccheck" type="button" class="btn btn-outline-info btn-sm">Check</button>
    <button id="cuncheck" type="button" class="btn btn-outline-info btn-sm">Unheck</button>
    </div>
    
    <div id="pmethod">
    Payment methods:
    {% for pm in pmethod_list %}    
    <input type="checkbox" name="pmethods" value="{{ pm.id }}"  {% if pm.selected %}checked="checked"{% endif %}>{{pm.name}}</input>
    {% endfor %}

    <button id="pmcheck" type="button" class="btn btn-outline-info btn-sm">Check</button>
    <button id="pmuncheck" type="button" class="btn btn-outline-info btn-sm">Unheck</button>
    </div>

    <button type="submit" class="btn btn-primary btn-sm">Search</button>

    <input type="hidden" name="filtered" value="False"></input>    
</form>

<form action="{% url 'trans:delete' %}" method="post">
  <!--	-->
  {% csrf_token %}

  
    
  <table border="1" class="table table-striped">
    <tr>
      <th></th>
      <th>(id)</th>
	<th>Date</th>
	<th>Item</th>
	<th>Expense</th>
	<th>Balance</th>
	<th>Payment method</th>
	<th>Category</th>
	<th>User</th>
	<th>(share type)</th>
	<th>(user pay4)</th>
	<th>(trans-text)</th>
      </tr>
      {% for trans in latest_trans_list %}
      <tr>
	<td> <input type="checkbox" name="tids" value="{{ trans.id }}" /></td>
	<td>{{ trans.id }}</td>
	<td>{{ trans.date }}</td>
	<td>{{ trans.name }}</td>
	<td>{{ trans.expense }}</td>
	<td>{{ trans.balance }}</td>
	<td>{{ trans.pmethod.name }}</td>
	<td>{{ trans.category.name }}</td>
	<td>{{ trans.user }}</td>
	<td>{{ trans.share_type }}</td>
	<td>{{ trans.user_pay4 }}</td>
	<td><a href="">{{ trans.trans_text }}</a></td>

      </tr>
      {% endfor %}
    </table>
      <input type="submit" value="Delete" />
</form>

{% endblock contents %}



{% block script %}
$(function() {
//init format---
//$('#user_pay4').css('display', 'none');

$('.datepicker').datepicker({
format: "yyyy/mm/dd"
});

//events---
$('#ccheck').click(function(e) {
$("#category > input:checkbox").prop("checked", true);
});

$('#cuncheck').click(function(e) {
$("#category > input:checkbox").prop("checked", false);
});

$('#pmcheck').click(function(e) {
$("#pmethod > input:checkbox").prop("checked", true);
});

$('#pmuncheck').click(function(e) {
$("#pmethod > input:checkbox").prop("checked", false);
});


});
{% endblock script %}
  









    
    
