{% extends "base.html" %}
{% load humanize %}

{% block nav_monthlyreport %}active{% endblock %}


{% block contents %} 

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="card" style="">
  <div class="card-body">
    <h4 class="card-title">Filter</h4>
<form action="{% url 'trans:monthlyreport' %}" method="post" class="form-inline">
  {% csrf_token %}
  
  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0 datepicker" id="datefrom" name="datefrom"  placeholder="From yyyy/mm/dd" value="{{datefrom}}">
  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0 datepicker" id="dateto" name="dateto"  placeholder="to yyyy/mm/dd" value="{{dateto}}">


      <div id="category">
  Categories:
  {% for c in category_list %}
  <input type="checkbox" name="categorys" value="{{ c.id }}" {% if c.selected %}checked="checked"{% endif %}>{{c.name}}</input>
  {% endfor %}
  
  <button id="ccheck" type="button" class="btn btn-outline-info btn-xs">Check</button>
  <button id="cuncheck" type="button" class="btn btn-outline-info btn-xs">Unheck</button>
  </div>

  <div id="user">
    <input type="checkbox" name="alluser" {% if alluser %}checked="checked"{% endif %}>sum expense of all user(not implemented)</input>
  </div>
  

    <button type="submit" class="btn btn-primary btn-sm">Search</button>

    <input type="hidden" name="filtered" value="False"></input>    
</form>

  </div>
</div>

<table border="1" class="table table-striped">
  <tr>
    <th></th>
    {% for c in category_list %}
    {% if c.selected %}
    <th>{{c.name}}</th>
    {% endif %}
    {% endfor %}
  </tr>

  {% for mr in monthlyreport_list %}
  <tr>
    <td>{{mr.yearmonth}}</td>
    {% for ec in mr.eachCates %}
    <td>
      <form action="{% url 'trans:list' %}" method="post" class="form-inline">
	{% csrf_token %}
	<!--
	{{ec.sum| intcomma }}
	{{ mr.yearmonth |add:'/01' }}
	{{ ec.category_id }}
	  -->
	
	<input type="hidden" name="datefrom" value="{{ mr.yearmonth |add:'/01' }}"></input>
	<input type="hidden" name="dateto" value="{{ mr.dateTo }}"></input>
	<input type="hidden" name="categorys" value="{{ ec.category_id }}"></input>

	<input type="hidden" name="filtered" value="True"></input>
	

	<button type="submit" class="btn  btn-default btn-xs">
	  {{ec.sum| intcomma }}
	<span class="glyphicon glyphicon-share-alt" aria-hidden="true">	</span></button>
      </form>
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

{% endblock contents %}


{% block exscript %}
<script type="text/javascript" src="../static/js/trans_monthlyreport.js"></script>


{% endblock exscript %}

    
{% block script %}
{% endblock script %}
  









    
    
