{% extends "base.html" %}
{% load humanize %}

{% block contents %}

Salary record registeror - check

<form action="{% url 'trans:salary_check' %}" method="POST">
  {% csrf_token %}

  <table border="1" class="table table-striped" id="tablelist">
    <tr>
      <th></th>
      <th>Date</th>
      <th>Item</th>
      <th>Category</th>
      <th>Expense</th>
      <th>Payment method</th>
      <th>Memo</th>
      <th>(share type)</th>
    </tr>
    {% for trans in trans_list %}
    <tr>
      <td> <input type="checkbox" name="tids" value="{{ trans.id }}"  {% if trans.selected %}checked="checked"{% endif %}/></td>
      <td><input type="text" class="mb-2 mr-sm-2 mb-sm-0 datepicker" id="dates" name="dates" value="{{ trans.date|date:"Y/n/d" }}"></td>
      <td><input type="text" class=" mb-2 mr-sm-2 mb-sm-0" id="names" name="names" value="{{ trans.name }}"></input></td>
      <td>{{trans.category.name}}
	<input type="hidden" id="cs" name="cs" value="{{ trans.category.id }}" />
      </td>      
      <td>{{ trans.expense| intcomma }}
	<input type="hidden" name="expenses" value="{{trans.expense}}"></input>
</td>
      <td>{{ trans.pmethod.name }}
	<input type="hidden" name="pmethods" value="{{trans.pmethod.id}}"></input>
      </td>

      <td><input type="text" class=" mb-2 mr-sm-2 mb-sm-0" name="memos" value="{{ trans.memo }}"></input></td>
      <td>
	<select name="share_types" value="{{trans.share_type}}">
	  <option value="1">own</opetion>
<option value="2">share</opetion>
</select>
</td>

      <td>{{ trans.id }}</td>
      <td>{{ trans.user }}</td>
      <td>{{ trans.user_pay4 }}</td>
      <td>{{ trans.includebalance }}</td>
      <td>{{ trans.includemonthlysum }}</td>	
    </tr>
    {% endfor %}

  
  <input type="submit" value="register" class="btn btn-primary btn-sm">
</form>


{{contents}}

{% endblock contents %}

{% block exscript %}
<script type="text/javascript" src="../static/js/trans_salary.js"></script>
<script type="text/javascript" src="../static/js/trans_common.js"></script>
{% endblock exscript %}

