{% extends "base.html" %}
{% load humanize %}

{% block nav_totalbalance %}active{% endblock %}


{% block contents %} 

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


{% for se in sharedexpense_list %}
user:{{se.user}}
<br/>
shared:{{se.shared| intcomma }}
<br/>
pay4other:{{se.pay4other| intcomma }}
<br/>
<br/>
Total:{{se.total| intcomma }}
<br/>
<br/>
{% endfor %}


{% endblock contents %}


{% block exscript %}
<script type="text/javascript" src="../static/js/trans_monthlyreport.js"></script>


{% endblock exscript %}

    
{% block script %}
{% endblock script %}
