{% extends "base.html" %}

{% block nav_pmethod %}active{% endblock %}

{% block contents %} 

<p class="h2"> Edit - Category</p>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'trans:update_category' c.id %}" method="post">
  {% csrf_token %}
  name:<input type="text" name="name" id="name" value="{{c.name}}" />
  <select name="cg" id="cg" value="{{c.group.id}}">
    {% for cg in cgroup_list %}
    {% if cg.id == c.group.id %}
    <option value="{{cg.id}}" selected>{{cg.name}}</opetion>
    {% else %}
    <option value="{{cg.id}}">{{cg.name}}</opetion>
    {% endif %}
    {% endfor %}
  </select>

  <input type="submit" value="Update" />
</form>


{% endblock contents %}



